<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>


<h1> Results for <strong> <%= @date %> </strong> </h1>
<%= form_tag("/", method: "post") do %>
  <%= label_tag(:date, "Pick a date:") %>
  <%= date_field_tag(:date) %>
  <%= submit_tag("Search") %>
<% end %>
